body{
    font-family: sans-serif;
    margin: 0;
}
#Pagina{
    width: 100%;
    margin: 0 auto; 
}
#Encabezado{
    padding: 5px 3%;
    border-bottom: #000000;
    border-style: solid;
    border-width: 1px;
}
#Encabezado a.Menu, a.Inicio{
    text-decoration: none;
    color: black;
}
#Logo{
    float: left;
    width: 50px;
    height: 55px;
}
#Encabezado h1{
    display: inline-block;
    font-size: 25px;
}

.Ele_Menu{
    margin-left: 18%;
    display: inline-block;
}
    
.Menu {
    font-size: 16px;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    font-family: sans-serif;
    color: black;
    font-weight: bold;
}
    
.navbar .Menu:hover {
    border-bottom: 6px solid #00aae4;
    transition: 0.3s;
}

a.Actual{
  border-bottom: 6px solid #00aae4;
}

.navbar{
    margin-bottom: 5px;
}

#LogIn{
    display: flex;
    float: right;;
    padding: 12px 16px;
  }

  .Login{
    font-size: 16px;
    color:white;
    text-align: center;
    padding: 14px 16px;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 10px;
    border-width: 0px;
    background: #00aae4;
  }
  
  .Login:hover{
    background-color: #00abe4b0;
    border-width: 0.1px;
    transition: 0.3s;
    cursor: pointer;
  }

  .popup-wrapper {
    z-index: 2;
    display: none;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
 
.popup {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    width: 100%;
    max-width: 450px;
    background: white;
    margin: 10% auto;
    position: relative;
}
 
.popup .entrar {
    background: #00aae4;
    color: white;
    font-weight: 650;
    text-decoration: none;
    padding: 8px 10px;
    margin: 30px auto;
    display: block;
    width: 30%;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.popup-content{
  height: 300px;
}
 
.popup .entrar:hover {
    background: #00abe4b0;
    transition: all 0.2s;
}
 
.popup-close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-weight: bold;
}
.popup-close .cerrar{
  width: 20px;
  color: white;
  font-size: 22px;
}
    

.ingresar{
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  width: 60%;
}
#encabezado_login{
  background-color: #00aae4;
  padding: 1px;
  color: white;
  margin-bottom: 7%;
}

.mensaje{
  display: block;
}

  #Contenido .Contenido {
      padding: 3% 5%;

  }
  #Contenido .Contenido h3{
      font-size: 25px;
  }

  .Fondo{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  .banner{
      width: 100%;
      height: 400px;
      animation: banner 10s infinite linear alternate;
      background-size: 100% 100%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  @keyframes banner {
    0%, 20%{
          background-image: url(../Imagenes/Banner\ 1.jpg );
    }
    25%, 45%{
        background-image: url(../Imagenes/Banner\ 2.jpg );
    }
    50%, 70%{
        background-image: url(../Imagenes/Banner\ 3.jpg );
    }
    75%, 100%{
        background-image: url(../Imagenes/Banner\ 4.jpg );
    }
      
  }
  .capa{
      width: 100%;
      height: 100%;
      position:absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.5);
  }
  .info{
      z-index: 1;
      width: 100%;
      max-width: 550px;
      text-align: center;
  }
  .info h3{
    color: white;
    font-size: 30px;
    letter-spacing: 1px;
}
.info p{
    color: #c7c7c7;
    line-height: 1.7;

}
.info a{
    color: white;
    text-decoration: none;
    background:#00aae4;
    padding: 16px 37px;
    display: inline-block;
    border-radius: 50px;
}

#Pie-pagina{
    padding: 5px 20%;
    background-color: #00aae4;
    color: white;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
  }
  
  .Contacto{
    font-weight: bold;
    text-align: center;
  }
  
  #Redes-Sociales{
    display: flex;
    justify-content: center;
  }
  
  .Facebook{
    width: 30px;
    color: white;
    font-size: 30px;
  }
  
  .Facebook:hover{
    color: #000000;
  
  }
  
  .Instagram{
    width: 30px;
    color: white;
    font-size: 30px;
  }
  
  .Instagram:hover{
    color: #000000;
  
  }
  
  .Twitter{
    width: 30px;
    color: white;
    font-size: 30px;
  }
  
  .Twitter:hover{
    color: #000000;
  
  }
  
  .Whatsapp{
    width: 30px;
    color: white;
    font-size: 30px;
  }
  
  .Whatsapp:hover{
    color: #000000;
  }
  
  .Github{
    width: 30px;
    color: white;
    font-size: 30px;
  }
  
  .Github:hover{
    color: #000000;
  }
  
  .Discord{
    width: 30px;
    color: white;
    font-size: 30px;
  }
  
  .Discord:hover{
    color: #000000;
  }
  
  #Redes-Sociales a{
    margin-left: 5px;
  }
  
  #Final{
    padding-top: 4%;
    display: block;
  }
  
  #Final a{
    text-decoration: none;
    color:white;
  }
  
  #Final a:hover{
    color: white;
  }
  
  .Informacion{
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: white;
  }

  #Form_registrate{
    margin: 8% auto;
    width: 400px;
    height: 500px;
    background: white;
    position: relative;
  }
  #encabezado_login h3{
    text-align: center;
  }

  .campo{
    float: right;
  }
  .fondo2 {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.formulario{
  padding-left: 30px;
  padding-right: 30px;
}
.botones{
  text-decoration: none;
  background-color: #00aae4;
  border: none;
  padding: 5px 15px;
  color: white;
  margin: 12px;
  cursor: pointer;
  font-size: 12px;
}
.boton{
  display: flex;
  justify-content: center;
}
.botones:hover {
  background: #00abe4b0;
  transition: all 0.2s;
}
 

    





